<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Blurb:</b>
  <%= @project.blurb %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Category:</b>
  <%= @project.category %>
</p>

<p>
  <b>Cost:</b>
  <%= @project.cost %>
</p>

<p>
  <b>Progressupdate:</b>
  <%= @project.progressupdate %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
