<!DOCTYPE html>
<html>
	<head>
	  <title>GPH</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>

	</head>
	<body>
		<%= render 'layouts/header' %>

		<div class="container"</div>
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
	 <! suggested by the devise documentation>	
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
	</body>
</html>
